.grid{display: grid;
    grid: auto auto auto/ auto auto auto auto auto;
    background-color: magenta;
    border: 3px solid blue;
    gap:15px;
    padding:20px;
         }
   .grid> div{background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        } 
   .item1 { grid-column: 1/ 6;}  
   .item6 { grid-column: 1/ span 3;
     background-image: url("taco.jpg");
     height: 400px;
     width:750px;
     font-size: 30px;
     color: blue;
     padding:100px 75px 20px 25px; 
     
   } 
   .item7 { grid-column: 2/ span 2;}
   .item7 { grid-column: 4/ span 2;}
   .item13 { grid-column: 1/ span 5;
      background-image: url("queso-taco.png");
      height: 100px;
      width:1000px;
      font-size: 30px;
      background-repeat: no-repeat;
      color: blue;
      padding:100px 75px 20px 25px;
  
  }
   
  
  