    
    * {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    form {display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    background-color: rgb(194, 204, 204);
    border: 2px solid #130202;
    margin: 20px;
    text-align: center;
   
    }
    header {
    background-color: rgb(30, 191, 255);
    
    
    text-align: center;  
    padding: 20px; 
    }

    body{
      background-color: rgb(30, 191, 255);
      
      
    }

    .heading1{
        color:  #333;
        font-size: 46px;
        font-weight:bold;
        
    }

    .heading2{
      
        grid-column: 1 /5;
        text-align: center;
        margin: 0px 0px;
        padding: 20px;
    }
    .heading3{
      background-color: rgb(30, 191, 255);
      
      grid-column: 1 /5;
      text-align: center;
  }
  .heading4{
    background-color: rgb(30, 191, 255);
    
    grid-column: 1 /5;
    text-align: center;
}

    .tripdetails{
      grid-column: 1 /5;
      text-align: center;
      font-size: 26px;
    }

    .tripdetails .error {
      color: #ff3860;
      font-size: 16px;
      height: 13px;
      }

    nav {
        grid-column: 1/span 1 ;
        grid-row: 1/ span 1;
        height: 100%;
        width:  100%;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            background-color: #333;
          }
          li {
            float: left;
          }
          
          
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: 336px;
            
          }
          
          /* Change the link color to #111 (black) on hover */
          li a:hover {
            background-color: #111;
            background-color: rgb(17, 77, 146);
          }
          
        
        input:invalid {
        
        background-color: #ffdddd;
        }
        .input-control {
        display: flex;
        flex-direction: column;
        font-size: 26px;
        }
        
        .input-control input {
        border: 2px solid #130202;
        border-radius: 4px;
        display: flex;
        font-size: 12px;
        padding: 10px;
        width: 80%;
        text-align: center;
        margin: 2px 20px;
        }
        
        .input-control input:focus {
        outline: 0;
        }
        .input-control.success input {
        border-color: #09c372;
        }
        
        .input-control.error input {
        border-color: #ff3860;
        }
        
        .input-control .error {
        color: #ff3860;
        font-size: 16px;
        height: 13px;
        }

        .gender2{
          align-content: center;
         font-size: 26px;
         margin: 12px 12px;
         padding: 12px 12px;
        }

        .submit{
          grid-column: 1 /5;
        }

        .passnum{
          grid-column: 1 /5;
        }

        .passnum input{
          width: 5%;
          margin: auto;
          flex-direction: row;
          
        }

        .pass1{
          font-size: 36px;
         margin: 12px 12px;
         padding: 12px 14px;
        }

        button{
          color: #ffdddd;

          font-size: 30px;
          padding: 20px;
          margin: 20px;
          width: 10%;
          background-color: #333;

        }

        textarea {
          border: 2px solid #130202;
        border-radius: 4px;
        display: flex;
          font-size: 12px;
        padding: 10px;
        width: 80%;
        margin: 2px 20px;
        }

        footer{

          text-align: center;
        }
        